/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.text,
.text:focus {
	font-family: courier;
	font-size: 20px;
	margin: 0 auto;
	margin-top: 100px;
	width: 750px;
	height: 450px;
	padding: 20px;
	resize: none;
	outline: 0;
	color: black;
}

.full-text {
	font-family: courier;
	font-size: 16;
	margin: 0 auto;
	margin-top: 100px;
	width: 800px;
	padding: 20px;
	resize: none;
	outline: 0;
	color: black;
}

#word-count {
	position: absolute;
	left: 100px;
	top: 20px;
	font-family: courier;
	font-size: 18px;
}
#finish {
	position: absolute;
	right: 140px;
	top: 20px;
	font-family: courier;
	font-size: 18px;
}
#char-count {
	position: absolute;
	left: 20px;
	top: 40px;
	font-family: courier;
	font-size: 18px;
}

div.cursor {
  display: inline-block;
  border-left: 1px solid black;
  margin-left: 1px;
  z-index: 999;
  height: 20px;
  width: 12px;
  position: relative;
  top: 4px;
 
  -webkit-animation: blink .5s linear 0s infinite;
  -moz-animation: blink .5s linear 0s infinite;
  -ms-animation: blink .5s linear 0s infinite;
  -o-animation: blink .5s linear 0s infinite;
}

div.cursorwhite {
  display: inline-block;
  border-left: 1px solid white;
  margin-left: 1px;
  z-index: 999;
  height: 20px;
  width: 12px;
  position: relative;
  top: 4px;
 
  -webkit-animation: blinkwhite .5s linear 0s infinite;
  -moz-animation: blinkwhite .5s linear 0s infinite;
  -ms-animation: blinkwhite .5s linear 0s infinite;
  -o-animation: blinkwhite .5s linear 0s infinite;
}

@-webkit-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-webkit-keyframes blinkwhite {
    from, to { border-color: transparent }
    50% { border-color: white }
}

@-moz-keyframes blinkwhite {
    from, to { border-color: transparent }
    50% { border-color: white }
}
.warning {
	color: #f0ad4e;
}
.blue {
	color: #428bca
}
.green {
	color: green;
}

#loader {
	position: absolute;
	top: 10px;
	right: 10px;
}
.spin {
	-webkit-animation-name: spin;
	-webkit-animation-duration: .75s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: .75s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: .75s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-o-transition: rotate(3600deg);
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

.limit-height {
	height: 300px;
	overflow: scroll;
}

.dull {
	color: red;
}

.popover {
	max-width: 219px !important;
}
.popover .popover-content {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}
